.container {
  margin-left: 10%;
  margin-right: 10%;
}

.item {
  margin: 20px;
}

.full-width {
  background-color: #FF8066;
  width: 90%;
  margin-left: 5%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
